@{
   Layout = null;
}

<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Superkuller</title>
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container">

   <form class="form-signin" action="~/Home/Index">
      <h2 class="form-signin-heading">Palun logi sisse</h2>
      <label for="inputUsername" class="sr-only">Kasutajatunnus</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Kasutajatunnus" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Parool</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Parool" required="">
      <div class="checkbox">
         <label>
            <input type="checkbox" value="remember-me"> Remember me
         </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Logi sisse</button>
      <button class="btn btn-lg btn-default btn-block" type="button" onclick="window.location.href='@Url.Action("Register", "Home" )'">Loo kasutaja</button>
   </form>
</div>
</body>
</html>
