@model dynamic

@{
   Layout = "_UserLayout.cshtml";
}

<div class="container">

   <form class="form-signin" action="~/Order/Package">
      <h2 class="form-signin-heading">Sisesta saaja andmed</h2>

      <label for="inputCompanyName" class="sr-only">Ettevõte</label>
      <input type="text" id="inputCompanyName" class="form-control" placeholder="Ettevõte" autofocus="">

      <label for="inputContact" class="sr-only">Kontaktisik</label>
      <input type="text" id="inputContact" class="form-control" placeholder="Kontaktisik">

      <label for="inputTelephone" class="sr-only">Telefoninumber</label>
      <input type="text" id="inputTelephone" class="form-control" placeholder="Telefoninumber">

      <label for="inputAddress" class="sr-only">Aadress</label>
      <input type="text" id="inputAddress" class="form-control" placeholder="Aadress">

      <label for="inputPostalCode" class="sr-only">Postiindeks</label>
      <input type="text" id="inputPostalCode" class="form-control" placeholder="Postiindeks">

      <label for="inputCity" class="sr-only">Linn</label>
      <input type="text" id="inputCity" class="form-control" placeholder="Linn">

      <label for="inputCountry" class="sr-only">Riik</label>
      <input type="text" id="inputCountry" class="form-control" placeholder="Riik">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Edasi</button>
      <button class="btn btn-lg btn-default btn-block" type="button" onclick="window.location.href='@Url.Action("Index", "Home" )'">Katkesta</button>
   </form>
</div>